<!DOCTYPE html>
<html>
<head>
  <title>中古車の市場価格予測</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="../static/index.css">
</head>
<body>
  <h1>中古車の市場価格を予測</h1>
  <h2>お車の情報を選択/入力してください</h2>
  <form method="POST" action="/prediction">
    <label for="maker">メーカー：</label>
    <select id="maker" name="maker" onchange="updateCarDropdown()">
      <option value="" selected>{{ maker_base }}</option>
      {% for maker in maker_list %}
      <option value="{{ maker }}" {% if session["selected_maker"] == maker %}selected{% endif %}>{{ maker }}</option>
      {% endfor %}
    </select>
    <br>

    <label for="car">車種：</label>
    <select id="car" name="car" onchange="updateGradeDropdown()">
      <option value="" selected>{{ car_base }}</option>
      {% if session["selected_maker"] %}
        {% for car in df[df["maker"] == session["selected_maker"]]["car"].unique()|sort %}
          <option value="{{ car }}" {% if session["selected_car"] == car %}selected{% endif %}>{{ car }}</option>
        {% endfor %}
      {% endif %}
    </select>
    <br>

    <label for="grade">グレード：</label>
    <select id="grade" name="grade" onchange="updateYearDropdown()">
     <option value="" selected>{{ grade_base }}</option>
      {% if session["selected_car"] %}
        {% for grade in df[df["car"] == session["selected_car"]]["grade"].unique()|sort %}
         <option value="{{ grade }}" {% if session["selected_grade"] == grade %}selected{% endif %}>{{ grade }}</option>
        {% endfor %}
      {% endif %}
    </select>
    <br>

    <label for="year">年式：</label>
    <select id="year" name="year">
      <option value="" selected>{{ year_base }}</option>
      {% if session["selected_grade"] %}
        {% for year in df[df["grade"] == session["selected_grade"]]["year"].unique()|sort %}
          <option value="{{ year }}" {% if session["selected_year"] == year %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
      {% endif %}
    </select>
    <br>

    <input placeholder="走行距離[km]" name="mileage" value="{{ session['selected_mileage'] if 'selected_mileage' in session else '' }}">
    <br>

    <input value="市場価格を予測" type="submit"/>
    <br>
    
    <!--エラーメッセージを表示-->
    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul class="flash-messages">
          {% for message in messages %}
            <li class="flash-message">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  
  </form>
  <script>
    function updateCarDropdown() {
      var selectedOption = document.getElementById("maker").value;
      var optionsArray = []; // オプションを格納する配列

      // 選択された値をサーバーに送信し、結果を取得
      fetch(`/get_cars?selected_option=${selectedOption}`)
        .then(response => response.json())
        .then(data => {
          // サーバーから取得したデータを使用してオプションを更新
          optionsArray = data.options;
          var car = document.getElementById("car");
          car.innerHTML = ""; // リセット
          optionsArray.forEach(function (option) {
            var optionElement = document.createElement("option");
            optionElement.value = option;
            optionElement.textContent = option;
            car.appendChild(optionElement);
          });
        });
    }

    function updateGradeDropdown() {
      var selectedOption = document.getElementById("car").value;
      var optionsArray = []; // オプションを格納する配列

      // 選択された値をサーバーに送信し、結果を取得
      fetch(`/get_grades?selected_option=${selectedOption}`)
        .then(response => response.json())
        .then(data => {
          // サーバーから取得したデータを使用してオプションを更新
          optionsArray = data.options;
          var grade = document.getElementById("grade");
          grade.innerHTML = ""; // リセット
          optionsArray.forEach(function (option) {
            var optionElement = document.createElement("option");
            optionElement.value = option;
            optionElement.textContent = option;
            grade.appendChild(optionElement);
          });
        });
    }

    function updateYearDropdown() {
      var selectedOption = document.getElementById("grade").value;
      var optionsArray = []; // オプションを格納する配列

      // 選択された値をサーバーに送信し、結果を取得
      fetch(`/get_years?selected_option=${selectedOption}`)
        .then(response => response.json())
        .then(data => {
          // サーバーから取得したデータを使用してオプションを更新
          optionsArray = data.options;
          var year = document.getElementById("year");
          year.innerHTML = ""; // リセット
          optionsArray.forEach(function (option) {
            var optionElement = document.createElement("option");
            optionElement.value = option;
            optionElement.textContent = option;
            year.appendChild(optionElement);
          });
        });
    }
  </script>
</body>
</html>
